






<div class="main">
<div class="container">

<div class="item">
<h1>{{fname}} {{lname}}</h1>

</div>

<div class="item1">
<img src="assets/img1.jpg" alt="">

</div>

</div>

<div class="container">
<div class="item2">
<h3>CNIC#</h3><p>{{cnic}} </p>
</div>
<div class="item3">
<h3>Email#</h3><p>{{email}}</p>
</div>
<div class="item4">
<h3>D.o.b#</h3><p>{{dob}}</p>
</div>


</div>
<div class="container">
<div class="item2">
<h3>Session Start#</h3><p>{{ss}}</p>
</div>
<div class="item3">
<h3>Session End#</h3><p>{{se}}</p>
</div>
<div class="item4">
<h3>Gender#</h3><p>{{gender}}</p>
</div>


</div>
<div class="container">
<div class="item2">
<h3>Crunt City#</h3> <p>{{cc}}</p>
</div>
<div class="item3">
<h3>Permanent City#</h3><p>{{pc}}</p>
</div>
<div class="item4">
<h3>Phone#</h3><p>{{phone}}</p>
</div>


</div>

<div class="container">
<div class="item2">
<h3>Degree#</h3><p>{{degree}}</p>
</div>
<div class="item3">
<h3>Awards#</h3><p>{{awards}}</p>
</div>
<div class="item4">
<h3>Profession#</h3><p>{{profession}}</p>
</div>


</div>
</div>

